body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

content {
    max-width: 1024px;
}

main {
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 46px;
    font-weight: bold;
    color: #666666;
    margin: 0 18px;
    text-transform: uppercase;
}

header {
    background-color: #dddddd;
    margin: 5px;
    height: 100px;
    display: flex;
    align-items: center;
}

#bundeslaender {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
}

.laenderBox {
    text-decoration: none;
    color: black;
    border: 10px solid #eeeeee;
    margin: 5px;
    padding: 10px;
    width: calc(33% - 7px);
    box-sizing: border-box;
    cursor: pointer;
}

.laenderBox:hover {
    border: 10px solid rgba(255, 166, 0, 0.233);
    background-color: rgba(255, 166, 0, 0.178);
}

.name {
    font-size: 14px;
    font-weight: bold;
}

.population {
    font-size: 14px;
    color: rgb(141, 141, 141);
}